
@{
    ViewBag.Title = "AboutUs";
}

<div class="header-navigate clearfix mb15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ol style="text-transform:uppercase;" class="breadcrumb breadcrumb-arrow" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <li><a href="/" itemprop="url" target="_self">TRANG CHỦ</a></li>

                    <li><i class="fa fa-angle-right"></i></li>
                    <li class="active"><span itemprop="title">Liên Hệ</span></li>

                </ol>
            </div>
        </div>
    </div>
</div>
<section class="vk-content">
    <!--./vk-banner-->
    <div class="vk-page page page-contact ">
        <div class="vk-contact-us">
            <div class="container">
                <h6 class="vk-heading vk-heading-style-3"><span class="vk-line"></span>LIÊN HỆ TỤI MÌNH</h6>
                <h2 class="vk-heading vk-main-heading ccc">AniFig chưa có showroom trưng bày<br>Hẹn trước khi đến 0908268007</h2>
                <div class="vk-about-list">
                    <div class="row">
                        <ul class="vk-list vk-contac-list">
                            <li class="col-md-4">
                                <div class="vk-contact-item">
                                    <i class="vk-icon ti-location-pin fa fa-map-marker"></i>
                                    <div class="vk-title"> Địa chỉ</div>
                                    <p class="vk-contact-info">236, Hoàng Quốc Việt</p>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <div class="vk-contact-item">
                                    <i class="vk-icon ti-location-pin fa fa-envelope"></i>
                                    <div class="vk-title"> Email</div>
                                    <p class="vk-contact-info">support@anifig.vn</p>
                                </div>
                            </li>
                            <li class="col-md-4">
                                <div class="vk-contact-item">
                                    <i class="vk-icon ti-location-pin fa fa-phone"></i>
                                    <div class="vk-title"> Điện thoại</div>
                                    <p class="vk-contact-info">090 8268 007</p>
                                </div>
                            </li>


                        </ul><!--./vk-contac-list-->
                    </div><!--./row-->
                </div><!--./vk-about-list-->

            </div><!--./container-->
        </div><!--./contact-us-->

    </div>
    <!--./vk-page-->
</section>
