
@{
    ViewBag.Title = "Error";
}

<section class="layout-info-account">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center mb50">
                <div id="error-404">
                    <picture>
                        <source media="(max-width: 767px)" srcset="//theme.hstatic.net/1000160337/1000373353/14/404_large.png?v=168">
                        <source media="(min-width: 768px)" srcset="//theme.hstatic.net/1000160337/1000373353/14/404.png?v=168">
                        <img src="//theme.hstatic.net/1000160337/1000373353/14/404.png?v=168" alt="404" title="404">
                    </picture>

                </div>
                <a href="/">Quay về trang chủ</a>
            </div>
        </div>
    </div>
</section>