
@{
    ViewBag.Title = "Giới Thiệu Về JapanFigrue";
}

<div class="container">
    <div class="row">
        <p>
        <img src="//file.hstatic.net/1000160337/file/gioi_thieu_japan_figure_tu_ke.jpg" data-mce-src="//file.hstatic.net/1000160337/file/gioi_thieu_japan_figure_tu_ke.jpg">
        </p>
           <p>
        <span style="color: rgb(153, 51, 102);" data-mce-style="color: #993366;"><strong>► Figure là gì ?</strong></span>
           </p>
        <p>Figure là mô hình, là tượng, là bất cứ sản phẩm 3D nào mô phỏng lại nhân vật trong phim, trong truyện, game, bức vẽ.<br>Thông thường figure mang hình dạng con người, đôi khi là thú, là thần thánh, là yêu tinh, quái vật hay thậm chí là sinh vật ngoài tinh…bất cứ nhân vật nào được họa sĩ nghĩ ra, được điêu khắc thành 3D thì được gọi là figure.</p>
        <p><span style="color: rgb(153, 51, 102);" data-mce-style="color: #993366;"><strong>►</strong> <strong>Japan Figure là gì ?</strong></span></p>
        <ol>
            <li>Là những figure được các họa sĩ Nhật Bản nghĩ ra, vẽ minh họa, tạo tác và hoàn thiện tại Nhật Bản.</li><li>Vì sinh ra tại Nhật nên hiển nhiên Japan figure mang đậm văn hóa Nhật, từ Anime, Manga, Game, Light novel, J-pop cho đến Ca sĩ Ảo v…v…</li><li>Bản mẫu-prototype sau khi hoàn thiện, hầu hết được đem đi sản xuất hàng loạt tại Trung Quốc . Nên sản phẩm cuối cùng bạn cầm trên tay có chữ “Made in China” là chuyện rất bình thường.<br>Với công nghệ của Nhật và quy trình sản xuất được giám sát gắt gao, những sản phẩm figure được ra rất chỉnh chu, chi tiết sắc bén, màu sắc sống động, biểu cảm chính xác như nhân vật gốc đã làm mãn lòng nhiều fan hâm mộ trên toàn thế giới. Vậy nên dù “Made in China” nhưng đây vẫn là hàng Nhật. <span style="color: rgb(153, 51, 102);" data-mce-style="color: #993366;"><strong>Bạn có đồng ý rằng ng﻿ười Việt sinh ra trên đất Trung Quốc thì vẫn là người Việt ko ?</strong></span></li>
         </ol>
        <h2 class="woo-sc-quote boxed"><em><code>“vậy làm thế nào để phân biệt được hàng Nhật và hàng nhái từ Trung Quốc?”</code></em></h2><p><span>yên tâm nhé Japan Figure đã chuẩn bị sẵn cho bạn 1 số mẹo phân biệt cực ký hữu ích.</span><br><a href="http://japanfigure.vn/blogs/tin-tuc/cach-phan-biet-figure-nhat-chinh-hang-hang-nhai-tu-trung-quoc" target="_blank" data-mce-href="http://japanfigure.vn/blogs/tin-tuc/cach-phan-biet-figure-nhat-chinh-hang-hang-nhai-tu-trung-quoc">click vào đây để tìm hiểu.</a><br></p><p><br></p><p><span style="color: rgb(153, 51, 102);" data-mce-style="color: #993366;"><strong>►Japan Figure</strong></span> cũng đồng thời là tên của shop chúng tôi, nơi chuyên cung cấp figure chính hãng của Nhật Bản tại Việt Nam<br>Japan Figure là thiên đường với những người quan tâm, theo đuổi vẻ đẹp thật sự, đam mê figure cao cấp, đây mê hoặc của Nhật Bản.<br>Nếu bạn chỉ đang tìm kiếm hàng nhái, hàng giả, hàng không có bản quyển, hàng rẻ tiền, hàng chợ kém chất lượng… thì đây không phải là nơi phù hợp dành cho bạn.</p><p><span>Khai trương từ cuối tháng 8/2012, Japan Figure không ngừng nhận được sự ủng hộ đông đảo từ bạn bè trên cả nước.<br></span><span>Tại Japan Figure chúng tôi:</span></p><ul><li>Chuyên cung cấp figure chất lượngcao của Nhật</li><li>Cập nhật thông tin sản phẩm mới mỗi ngày.</li><li><span>Giải đáp cho bạn mọi thắc mắc về figure, cách mua hàng, hỗ trợ vận chuyển miễn phí.</span></li><li><span>Thường xuyên tổ chức đấu giá</span></li><li><span>Săn tìm figure từ hiếm cho đến cực hiếm</span></li><li>Nhận order các sản phẩm khác từ Nhật.</li></ul><p><strong><strong>►</strong>Sứ mệnh của Japan Figure không gì hơn là:</strong></p><p><img src="//file.hstatic.net/1000160337/file/mang-nhan-vat-ban-thich-den-gan-ban-hon.jpg" data-mce-src="//file.hstatic.net/1000160337/file/mang-nhan-vat-ban-thich-den-gan-ban-hon.jpg"></p>
        <p>
        
</div>
    </div>

