<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

<connectionStrings><add name="AniFigure_DB" connectionString="data source=127.0.0.1;initial catalog=AniFigure;user id=sa;password=&amp;+g?F;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>
