
@{
    ViewBag.Title = "Trang chủ";
}

<!--<div class="col-md-12">
    <div class="row">
        <div class="owl-carousel owl-theme owl-loaded" id="slide-home">
            
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-2634px, 0px, 0px); transition: all 0.25s ease 0s; width: 9658px;">
                    <div class="owl-item cloned" style="width: 878px; margin-right: 0px;">
                        <div class="slide-content">
                            <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_6.jpg?v=168" alt="slide 6" title="slide 6">
                            <div class="caption-slide hidden-xs">
                                <div class="container">
                                    <h1>SÀN GIAO DỊCH</h1>
                                    <h2>JAPAN FIGURE TRADING</h2>
                                    <p>Fig bạn có người khác cần!<br> Fig bạn cần người khác có!</p>
                                    <div class="btn-readmore">
                                        <a href="https://bit.ly/jftrade" class="btn">THAM GIA NGAY</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item cloned" style="width: 878px; margin-right: 0px;">
                        <div class="slide-content">
                            <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_7.jpg?v=168" alt="slide 7" title="slide 7">
                            <div class="caption-slide hidden-xs">
                                <div class="container">
                                    <h1>R18 - Bộ sưu tập</h1>
                                    <h2>figure "khiêu khích" tại Nhật 2018</h2>
                                    <p>Ảnh 18+ cân nhắc trước khi xem</p>
                                    <div class="btn-readmore">
                                        <a href="blogs/tin-tuc/r18-trien-lam-figure-khieu-khich-tai-nhat-2018" class="btn">XEM</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item" style="width: 878px; margin-right: 0px;">
                        <div class="slide-content">
                            <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_1.jpg?v=168" alt="slide 1" title="slide 1">
                            <div class="caption-slide hidden-xs">
                                <div class="container">
                                    <h1>Chủ nhân, ngài muốn dùng Vanilla, hay là Chocola</h1>
                                    <h2>HAY LÀ CẢ 2 Ạ?</h2>
                                    <p>-2 hộp Nendoroid Nekopara sale off cuối cùng-</p>
                                    <div class="btn-readmore">
                                        <a href="https://japanfigure.vn/search?q=NEKOPARA+NENDOROID" class="btn">SỞ HỮU NGAY</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 878px; margin-right: 0px;">
                        <div class="slide-content">
                            <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_2.jpg?v=168" alt="slide 2" title="slide 2">
                            <div class="caption-slide hidden-xs">
                                <div class="container">
                                    <h1>cung cấp</h1>
                                    <h2>Sản phẩm chính hãng<br>từ Nhật Bản</h2>
                                    <p>Japan Figure là thiên đường với những người quan tâm<br>theo đuổi vẻ đẹp thật sự, đam mê figure cao cấp,<br>đầy mê hoặc của Nhật Bản.</p>
                                    <div class="btn-readmore">
                                        <a href="/pages/about-us" class="btn">XEM THÊM</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item" style="width: 878px; margin-right: 0px;">
                        <div class="slide-content">
                            <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_3.jpg?v=168" alt="slide 3" title="slide 3">
                            <div class="caption-slide hidden-xs">
                                <div class="container">
                                    <h1>Hướng dẫn</h1>
                                    <h2>Dành cho người mới</h2>
                                    <p>
                                        Phân biệt Thật/ Giả<br>
                                        Cách vệ sinh Figure, Cách sơn sửa Figure<br>
                                        Cách tự tạo sa bàn, mô hình, nội thất, nhà cửa
                                    </p>
                                    <div class="btn-readmore">
                                        <a href="/blogs/huong-dan" class="btn">XEM CHI TIẾT</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item" style="width: 878px; margin-right: 0px;">
                        <div class="slide-content">
                            <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_4.jpg?v=168" alt="slide 4" title="slide 4">
                            <div class="caption-slide hidden-xs">
                                <div class="container">
                                    <h1>JapanFigure.vn</h1>
                                    <h2>Mang nhân vật bạn thích<br> đến gần bạn hơn</h2>
                                    <p>
                                        Mua bán - Cập nhật thông tin sản phẩm mới mỗi ngày.<br>
                                        Giải đáp cho bạn mọi thắc mắc về figure, cách mua hàng,<br>
                                        Hỗ trợ vận chuyển miễn phí,<br>
                                        Săn tìm figure từ hiếm cho đến cực hiếm.
                                    </p>
                                    <div class="btn-readmore">
                                        <a href="" class="btn"></a>t

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item" style="width: 878px; margin-right: 0px;">
                        <div class="slide-content">
                            <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_5.jpg?v=168" alt="slide 5" title="slide 5">
                            <div class="caption-slide hidden-xs">
                                <div class="container">
                                    <h1>Sx hàng loạt ko có nghĩa là vô hạn</h1>
                                    <h2>figure chính hãng tăng giá theo thời gian</h2>
                                    <p>nên đặt hàng sớm tại japanfigure.vn</p>
                                    <div class="btn-readmore">
                                        <a href="blogs/huong-dan/vi-sao-nen-dat-mua-figure-som-tai-japanfigure-vn" class="btn">ĐÂY LÀ LÝ DO</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item" style="width: 878px; margin-right: 0px;">
                        <div class="slide-content">
                            <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_6.jpg?v=168" alt="slide 6" title="slide 6">
                            <div class="caption-slide hidden-xs">
                                <div class="container">
                                    <h1>SÀN GIAO DỊCH</h1>
                                    <h2>JAPAN FIGURE TRADING</h2>
                                    <p>Fig bạn có người khác cần!<br> Fig bạn cần người khác có!</p>
                                    <div class="btn-readmore">
                                        <a href="https://bit.ly/jftrade" class="btn">THAM GIA NGAY</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item" style="width: 878px; margin-right: 0px;">
                        <div class="slide-content">
                            <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_7.jpg?v=168" alt="slide 7" title="slide 7">
                            <div class="caption-slide hidden-xs">
                                <div class="container">
                                    <h1>R18 - Bộ sưu tập</h1>
                                    <h2>figure "khiêu khích" tại Nhật 2018</h2>
                                    <p>Ảnh 18+ cân nhắc trước khi xem</p>
                                    <div class="btn-readmore">
                                        <a href="blogs/tin-tuc/r18-trien-lam-figure-khieu-khich-tai-nhat-2018" class="btn">XEM</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item cloned" style="width: 878px; margin-right: 0px;">
                        <div class="slide-content">
                            <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_1.jpg?v=168" alt="slide 1" title="slide 1">
                            <div class="caption-slide hidden-xs">
                                <div class="container">
                                    <h1>Chủ nhân, ngài muốn dùng Vanilla, hay là Chocola</h1>
                                    <h2>HAY LÀ CẢ 2 Ạ?</h2>
                                    <p>-2 hộp Nendoroid Nekopara sale off cuối cùng-</p>
                                    <div class="btn-readmore">
                                        <a href="https://japanfigure.vn/search?q=NEKOPARA+NENDOROID" class="btn">SỞ HỮU NGAY</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-item cloned" style="width: 878px; margin-right: 0px;">
                        <div class="slide-content">
                            <img src="//theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_2.jpg?v=168" alt="slide 2" title="slide 2">
                            <div class="caption-slide hidden-xs">
                                <div class="container">
                                    <h1>cung cấp</h1>
                                    <h2>Sản phẩm chính hãng<br>từ Nhật Bản</h2>
                                    <p>Japan Figure là thiên đường với những người quan tâm<br>theo đuổi vẻ đẹp thật sự, đam mê figure cao cấp,<br>đầy mê hoặc của Nhật Bản.</p>
                                    <div class="btn-readmore">
                                        <a href="/pages/about-us" class="btn">XEM THÊM</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-chevron-left"></i></div><div class="owl-next" style=""><i class="fa fa-chevron-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
        </div>

    </div>
</div> -->
<!--publisher-->
<div class="featured-sldier-title group-title" style="text-align:center">
    <h2>Các Hãng Figure Nổi Tiếng</h2>
    <div class="quote_txt">Những thương hiệu nổi tiếng và đầy đủ bản quyền</div>
</div>
<div class="row cms-icon-menu" style="margin: 15px 0px 0px 0px; background-color: #fff; text-align: center; padding: 15px 4px !important;">
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px">
        <div>
            <a href="/"><img src="~/Content/dist/img/maxfac.png" sizes="74x74" width="40%" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px; font-family: Arial">Max Factory</div>
    </div>
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px">
        <div>
            <a href="/"><img src="~/Content/dist/img/bandai.png" sizes="74x74" width="40%" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px; font-family: Arial">BanDai</div>
    </div>
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px">
        <div>
            <a href="/"><img src="~/Content/dist/img/alter.png" sizes="74x74" width="40%" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px; font-family: Arial">Alter</div>
    </div>
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px; font-family: Arial">
        <div>
            <a href="/"><img src="~/Content/dist/img/ryu.png" sizes="74x74" width="40%" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px; font-family: Arial">RYU Studio</div>
    </div>
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px">
        <div>
            <a href="/"><img src="~/Content/dist/img/smile.png" sizes="74x74" width="40%" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px; font-family: Arial">Good Smile</div>
    </div>
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px">
        <div>
            <a href="/"><img src="~/Content/dist/img/kotobukiya.png" sizes="74x74" width="40%" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px ; font-family: Arial">Kotobukiya</div>
    </div>
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px">
        <div>
            <a href="/"><img src="~/Content/dist/img/tsume.png" sizes="74x74" width="40%"  class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px; font-family: Arial">Tsume</div>
    </div>
    <div class="col-sms-3 col-sm-3 col-md-3" style="margin-top: 14px">
        <div>
            <a href="/"><img src="~/Content/dist/img/tamagochi.png" sizes="74x74" width="40%" class="center"></a>
        </div>
        <div class="cms-icon-menu-item-name" style="margin-top: 14px; font-family: Arial" >Tamagochi</div>
    </div>
</div>